[Unit]
After=network.target syslog.target
Description=Easytier Service
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/root/easytier/easytier-core -w udp://et.meiyong.org:10001/knet
Restart=always
RestartSec=1
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
